<launch>

   <arg name="with_camera" default="false"/>
   <arg name="with_viewer" default="false"/>
   
   <arg name="input_image_topic" default="/usb_cam/image_raw"/>
   <arg name="img_qr_topic"      default="image_qr"/>

   <group if="$(arg with_camera)">
     <node pkg="usb_cam" type="usb_cam_node" name="usb_cam">
       <param name="camera_name"     value="driver_cam" />
       <param name="camera_frame_id" value="driver_cam" />
       <param name="pixel_format"    value="yuyv"       />
       
       <remap from="/usb_cam/image_raw" to="$(arg input_image_topic)"/>
     </node>
   </group>



	<node pkg="ohm_rrl_qrdetection" type="ohm_rrl_qrdetection_node" name="qr_sensor_test_node" >
		<param name="qr_topic"                  type="string" value="qr "/>
		<param name="cam_subscriber_topic"   	  type="string" value="$(arg input_image_topic)"/>
		<param name="cam_publisher_topic"       type="string" value="$(arg img_qr_topic)"/>
		<param name="robot_radius"              type="double" value="0.3"/>
	</node>		 

</launch>
