<launch>

  <arg name="with_camera" default="false"/>
  <arg name="with_viewer" default="false"/>
  <arg name="perception_topic"    default= "/gripper/color/image_raw"/> <!--"/gripper/color/image_raw"/--> <!--img_perception"/-->
  
  
  <!-- start camera -->
  <group if="$(arg with_camera)">
   <node pkg="usb_cam" type="usb_cam_node" name="usb_cam">
     <param name="video_device"    value="/dev/video0"/>
     <param name="camera_name"     value="driver_cam" />
     <param name="camera_frame_id" value="driver_cam" />
     <param name="pixel_format"    value="yuyv"       />
     
     <remap from="/usb_cam/image_raw" to="/img_perception"/>

   </node>
  </group>
  
  
  <include file="$(find ohm_rrl_motiondetection2)/launch/motiondetection.launch" >
      <arg name="input_image_topic" value="$(arg perception_topic)" unless="$(arg with_camera)"/>
      <arg name="input_image_topic" value="/img_perception" if="$(arg with_camera)"/>
      <arg name="img_motion_topic"  value="img_motion" />
  </include>  
  
  
  <include file="$(find ohm_rrl_perception_utility)/launch/hazmatdetection.launch" >
      <arg name="input_image_topic" value="$(arg perception_topic)" unless="$(arg with_camera)"/>
      <arg name="input_image_topic" value="/img_perception" if="$(arg with_camera)"/>
      <arg name="img_haz_topic"     value="img_hazmats" />
  </include>  
  
  
  <include file="$(find ohm_rrl_qrdetection)/launch/qrdetection.launch" >
      <arg name="input_image_topic" value="$(arg perception_topic)" unless="$(arg with_camera)"/>
      <arg name="input_image_topic" value="/img_perception" if="$(arg with_camera)" />
      <arg name="img_qr_topic"     value="img_qr" />
  </include> 
  
  
  <include file="$(find ohm_rrl_cdetection)/launch/c_detection_RGB.launch" >
  </include>
  
  

  <group if="$(arg with_viewer)">
    <node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" />
  </group>

</launch>