<launch>

  <!-- topics to multiplex -->
  <arg name="driver_camera_topic" default="/usb_cam/image_raw"/>
  <arg name="manip_camera_topic"  default= "/usb_cam/image_raw"/> <!-- "/gripper/color/image_raw"/-->
  <arg name="perception_topic"    default= "/usb_cam/image_raw"/> <!--"/gripper/color/image_raw"/--> <!--img_perception"/-->



  <!--node pkg="topic_tools" type="mux" name="mux_perception_img" args="img_selected $(arg manip_camera_topic)  $(arg driver_camera_topic)">
    <remap from="img_selected"  to="img_perception"/>
  </node-->


  <node pkg="image_transport" type="republish" name="uncompress" args="compressed in:=/gripper/color/image_raw raw out:=$(arg perception_topic)" />



  <param name="/motiondetection/show_cluster_circles" value="true"/>
  <include file="$(find ohm_rrl_motiondetection2)/launch/motiondetection.launch" >
      <arg name="input_image_topic" value="$(arg perception_topic)" />
      <arg name="img_motion_topic"  value="img_motion" />
  </include>  
  
  
  <include file="$(find ohm_rrl_perception_utility)/launch/hazmatdetection.launch" >
      <arg name="input_image_topic" value="$(arg perception_topic)" />
      <arg name="img_haz_topic"     value="img_hazmats" />
  </include>  
  
  
  <include file="$(find ohm_rrl_qrdetection)/launch/qrdetection.launch" >
      <arg name="input_image_topic" value="$(arg perception_topic)" />
      <arg name="img_qr_topic"      value="img_qr" />
  </include> 
  
  <!-- pkg="ohm_rrl_cdetection" name="auto_c_detect_node" type="auto_c_detect_node" output="screen" >
    <remap from="/gripper/color/image_raw"  to="$(arg perception_topic)"/>
    <param name="path_to_template"  value="$(find ohm_rrl_cdetection)/images/"/>
  </node-->


</launch>
