<launch>

  <!-- topics to multiplex -->
  <arg name="driver_camera_topic" default="driver_cam"/>
  <arg name="manip_camera_topic"  default="/gripper/color/image_raw"/>



  <node pkg="topic_tools" type="mux" name="mux_perception_img" args="img_selected $(arg driver_camera_topic) $(arg manip_camera_topic)">
    <!--remap from="mux/selected" to="img_perception"/-->
  </node>


  <include file="$(find ohm_rrl_motiondetection)/launch/motiondetection.launch" >
      <arg name="input_image_topic" value="img_perception" />
      <arg name="img_motion_topic"  value="img_motion" />
  </include>  
  
  
  <include file="$(find ohm_rrl_perception_utility)/launch/hazmatdetection.launch" >
      <arg name="input_image_topic" value="img_perception" />
      <arg name="img_haz_topic"     value="img_hazmats" />
  </include>  
  
  
  <include file="$(find ohm_rrl_qrdetection)/launch/qrdetection.launch" >
      <arg name="input_image_topic" value="img_perception" />
      <arg name="img_qr_topic"      value="img_qr" />
  </include> 


</launch>